src/Test.It.While.Hosting.Your.Web.Application/bin/
src/Test.It.While.Hosting.Your.Web.Application/obj/
tests/Test.It.While.Hosting.Your.Web.Application.Tests/obj/
tests/Test.It.While.Hosting.Your.Web.Application.Tests/bin/
packages/
!tools/**
tests/WebApi.Test.Application/bin/
tests/WebApi.Test.Application/obj/
.vs/
tests/Test.It.While.Hosting.Your.Web.Application..Core.Tests/bin/
tests/Test.It.While.Hosting.Your.Web.Application..Core.Tests/obj/
tests/Test.It.While.Hosting-Your.WebApplication.Utils/bin/
tests/Test.It.While.Hosting-Your.WebApplication.Utils/obj/
tests/WebApi.Core.Test.Application/bin/
tests/WebApi.Core.Test.Application/obj/
_NCrunch_Test.It.While.Hosting.Your.Web.Application/
