<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="owin:appStartup" value="WebApi.Test.Application.ExceptionThrowingDuringCallApplication, WebApi.Test.Application" />
    <add key="owin:appStartup" value="WebApi.Test.Application.ExceptionThrowingDuringSetupApplication, WebApi.Test.Application" />
    <add key="owin:appStartup" value="WebApi.Test.Application.FooBarApplication, WebApi.Test.Application" />
  </appSettings>
</configuration>